@model Fever.Models.FeverModel
@{
    ViewData["Title"] = "FeverChecker";
}
<h1>Fever Checker</h1>

<h4>Fever</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FeverChecker" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckFever" class="control-label"></label>
                <input type="number" asp-for="CheckFever" class="form-control" />

                <span asp-validation-for="CheckFever" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <br />
                <input type="radio" asp-for="Unit" value="Fahrenheit" />Fahrenheit   <br />
                <input type="radio" asp-for="Unit" value="Celsius" />Celsius
            </div>


            <b>@ViewData["Message"]    @ViewData["shypothermia"]</b>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
   


