@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>About Mahnoush Aminshahidi.   CV....</p>
<a href="https://www.linkedin.com/in/mahnoush-aminshahidi-9547551b5" target="_blank">https://www.linkedin.com/in/mahnoush-aminshahidi-9547551b5</a>