@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>learn<a href="https://docs.microsoft.com/aspnet/core">with ASP.Net Core build Web apps</a>.</p>
</div>